<%= form_for(@permissao) do |f| %>
  <% if @permissao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permissao.errors.count, "error") %> prohibited this permissao from being saved:</h2>

      <ul>
      <% @permissao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
