<p id="notice"><%= notice %></p>

<h1>Listing Permissaos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissaos.each do |permissao| %>
      <tr>
        <td><%= permissao.nome %></td>
        <td><%= permissao.descricao %></td>
        <td><%= link_to 'Show', permissao %></td>
        <td><%= link_to 'Edit', edit_permissao_path(permissao) %></td>
        <td><%= link_to 'Destroy', permissao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permissao', new_permissao_path %>
