<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>

<script>
  $(document).ready(function() {
      $('#grupos').DataTable();
  } );
</script>

<%- model_class = Grupo -%>

<div class="container">

 <div class="page-header">
    <h1>Grupos de Usuários <%= link_to t('.new', :default => t("helpers.links.new")),
            new_grupo_path,
            :class => 'btn btn-primary' %></h1>
  </div>

<table class="table table-striped display" id="grupos">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:descricao) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @grupos.each do |grupo| %>
      <tr>
        <td><%= link_to grupo.id, grupo_path(grupo) %></td>
        <td><%= grupo.nome %></td>
        <td><%= grupo.descricao %></td>
        <td><%=l grupo.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                    grupo_path(grupo), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_grupo_path(grupo), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      grupo_path(grupo),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>            
