<div class="container">
	<div>
		<h1>Relatórios</h1>
	</div>
	<div class="row">
		<div class="col-md-2">
			<%= link_to 'Relatório 1', relatorio_relatorio1_path %>
			</br> </br>
			<%= link_to 'Relatório 2', relatorio_relatorio2_path %>
			</br> </br>
			<%= link_to 'Relatório 3', relatorio_relatorio3_path %>
			</br> </br>
			<%= link_to 'Relatório 4', relatorio_relatorio4_path %>
			</br> </br>
			<%= link_to 'Relatório 5', relatorio_relatorio5_path %>
		</div>
		<div class="col-md-32>
			<%= link_to 'Relatório 6', relatorio_relatorio6_path %>
			</br> </br>
			<%= link_to 'Relatório 7', relatorio_relatorio7_path %>
			</br> </br>
			<%= link_to 'Relatório 8', relatorio_relatorio8_path %>
			</br> </br>
			<%= link_to 'Relatório 9', relatorio_relatorio9_path %>
			</br> </br>
			<%= link_to 'Relatório 10', relatorio_relatorio10_path %>
		</div>
	</div>
</div>