<p id="notice"><%= notice %></p>

<h1>Listing Grupo Permissaos</h1>

<table>
  <thead>
    <tr>
      <th>Grupo</th>
      <th>Permissao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupo_permissaos.each do |grupo_permissao| %>
      <tr>
        <td><%= grupo_permissao.grupo %></td>
        <td><%= grupo_permissao.permissao %></td>
        <td><%= link_to 'Show', grupo_permissao %></td>
        <td><%= link_to 'Edit', edit_grupo_permissao_path(grupo_permissao) %></td>
        <td><%= link_to 'Destroy', grupo_permissao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupo permissao', new_grupo_permissao_path %>
